.centerBox1 {
  position: absolute;
  border: 1px solid black;
  background: rgb(250, 250, 250);
  padding: 20px;
  width: 50%;
  top: 10%;
  padding-bottom: 50px;
  left: 20%;
}
.align-items {
  width: 100%;
  margin-bottom: 20px !important;
}
.button_add {
  background-color: #f0c14b;
  color: #f0c14b;
}
