/* .centerBox {
  position: absolute;
  border: 1px solid black;
  background: rgb(250, 250, 250);
  margin-left: 1%;
  margin-top: 15px;
  padding-left: 20px;
  height: 50%;
  width: 15%;
  top: 10%;
  left: 0%;
} */

.root {
  position: absolute;
  margin-left: 2%;
  height: 300px;
  width: 200px;
  top: 10%;
  margin-top: 20px;
  padding-left: 20px;
}
