/* .product{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color: #fff;
    z-index: 1;
    width:100%;
    padding: 20px;
    justify-content: flex-end;
}
.product_stock{
    display: flex;
}
.product_info{
    height: 100px;
    margin-bottom: 15px;
}
.product_price{
    margin-top: 5px;
}
.product > img{
    width:100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}
.addB{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
} */
.card_content{
    height: 200;
    width: 250;
}
.card_row{
    display: flex;
    z-index: 1;
    margin-right: 15px;
    margin-left: 15px;
}
.card_image{
    height: 200;
    width: 250;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}
.cardImg{
    transform: scale(1);
    transition: transform 1s ease;
}
.cardImg:hover{
    transform: scale(1.8);
}
.overflow{
    overflow: hidden;
}