.register{
    background-color: rgb(234,237,237);;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.Signup_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;
    background-color: white;
}

.signup{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    height: 30px;
    border-radius: 2px;
    color: #111;
    border-color: #a88734 #9c7e31 #846a29;
}

.Signup_container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.Signup_container > form > h5{
    margin-bottom: 5px;
}
.Signup_container >form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
.error{
    color: red;
    text-align: center;
}
.errorType{
    border: 1px solid #eb516d;
}
